<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <%= f.submit "Make Comment" %>
  <%= link_to "Cancel", root_path %>
<% end %>
